.upper__left{
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.nav__lower{
    display: flex;
   justify-content: space-between;
   align-items: center;
}

.main__img{
    position: relative;

    left: 200px;
}

a{
    display: inline-block;
   align-self: end;
}
.upper__right{
    position: absolute;
    display: inline-block;
    right: 0%;
}
.nav__upper{
    width: 100%;
}

h1{
    
}
